{% extends 'base.html.twig' %}
{% block title %}Welcome, Login or register!{% endblock %}
{% block body %}
    <div id="Entry"></div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('entry') }}
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('entry') }}
{% endblock %}


